@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
:root {
    /* define variáveis no css */
    --azul: #1E90FF;
    --preta: #141414;
}

* {
    box-sizing: border-box;
    /* limita os elementos à borda da caixa */
}

body {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--preta);
}

header {
    background: #0e0d0d;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    float: right;
    line-height: 90px;
}

li {
    float: left;
    margin-right: 15px;
}

li:last-of-type {
    margin-right: 0;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #E50914;
    display: block;
}

.dropdown {
    color: white;
    text-decoration: block;
}

.dropdown:hover {
    color: #E50914;
    display: block;
}

.dropdown:hover #submenu {
    display: block;
}

#submenu {
    padding-top: 20px;
    padding-left: 00px;
    display: none;
}

.dropdown ul li {
    display: block;
    margin: 0;
    padding: 0;
    padding-inline: 5px;
    list-style: block;
}

.logo {
    position: left;
    float: left;
    padding: 2px;
}

.navbar {
    max-width: 1170px;
    height: 100px;
    margin: 0 auto;
    padding: 0 2px;
}

.navbar:after {
    content: "";
    clear: both;
    display: inline-block;
}

main img {
    position: static;
    padding-top: 200px;
    padding-inline: 40px;
    cursor: pointer;
}

main #lista {
    background: rgb(231, 221, 166);
    border-radius: 2px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 120px;
    height: 200px;
    text-align: center;
    width: 800px;
}

main #Total {}

footer {
    background-color: #0e0d0d;
    padding-top: 8px;
    margin-right: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

textarea {
    resize: none;
}

p.textmid {
    color: rgba(255, 255, 255, 0.781);
    padding-right: 25px;
    padding-bottom: 0px;
    font-family: 'Modak', cursive;
    font-size: 20px;
    text-align: right;
}

p.Copy {
    padding-left: 5px;
    padding-bottom: 1px;
    color: rgba(255, 255, 255, 0.781);
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.svg-inline--fa {
    vertical-align: -0.200em;
}

.rounded-social-buttons {
    text-align: right;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}


/* .rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);        
    transform: rotate(360deg);}*/


/* ROTAÇAO*/

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
    color: #fff;
    background: #3b5998;
    border-color: #24292e;
}

.rounded-social-buttons .social-button.instagram {
    background: radial-gradient(circle at 3% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 99%);
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.fa-instagram:focus {
    color: #fff;
    background: radial-gradient(circle at 3% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 99%);
    border-color: #24292e;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
    color: #fff;
    background: #007bb5;
    border-color: #24292e;
}